In [1]:
import numpy as np
import pandas as pd

In [2]:
outside = ['G1', 'G1', 'G1', 'G2', 'G2', 'G2']
inside = [1, 2, 3, 1, 2, 3]
hier_index = list(zip(outside, inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [3]:
df = pd.DataFrame(np.random.randn(6, 2), hier_index, ['A', 'B'])

In [4]:
df

             A         B
G1 1  0.111259 -1.797730
   2  1.304124  0.225916
   3  1.102760  0.293893
G2 1  1.086228  0.900566
   2  1.209214  0.696664
   3 -0.258294  0.511494

In [5]:
df.loc['G1'].loc[1]

A    0.111259
B   -1.797730
Name: 1, dtype: float64

In [6]:
df.index.names = ['Groups', 'Num']

In [7]:
df

                   A         B
Groups Num
G1     1    0.111259 -1.797730
       2    1.304124  0.225916
       3    1.102760  0.293893
G2     1    1.086228  0.900566
       2    1.209214  0.696664
       3   -0.258294  0.511494

In [8]:
df.loc['G2'].loc[2]['B']

0.6966637141200778

In [9]:
df.xs('G1')

            A         B
Num
1    0.111259 -1.797730
2    1.304124  0.225916
3    1.102760  0.293893

In [10]:
df.xs(1, level='Num')

               A         B
Groups
G1      0.111259 -1.797730
G2      1.086228  0.900566