In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("../03-General Pandas/example")

In [3]:
df.to_csv('my_output.csv', index=False)

In [4]:
df = pd.read_csv('./my_output.csv')

In [5]:
df_xlsx = pd.read_excel('../03-General Pandas/Excel_Sample.xlsx', sheet_name='Sheet1')

In [6]:
df_xlsx.drop(df_xlsx.columns[0], axis=1).to_excel('my_excel.xlsx', sheet_name='Sheet1')

In [7]:
from sqlalchemy import create_engine

In [8]:
engine = create_engine('sqlite:///:memory:')

In [9]:
df.to_sql('my_table', engine)

In [10]:
sqldf = pd.read_sql('my_table', con=engine)

In [11]:
sqldf

   index   a   b   c   d
0      0   0   1   2   3
1      1   4   5   6   7
2      2   8   9  10  11
3      3  12  13  14  15