In [1]:
# Functions

In [2]:
def my_func():
    print("hello")

In [3]:
def my_func(param):
    print(param)
    
my_func("2")

2

In [4]:
def my_func(param='default'):
    print(param)
    
my_func()

default

In [5]:
def my_func(param='default'):
    """
    Docstring goes here!
    
    """
    print(param)

In [6]:
my_func() # Shift-Tab

default

In [7]:
def my_func(arg):
    return arg * 5

x = my_func(5)

In [8]:
x

25

In [9]:
# Lambda Expression

In [10]:
def times_two(var):
    return var * 2

times_two(4)

8

In [11]:
lambda var: var*2

In [12]:
seq = [1, 2, 3, 4, 5]

list(map(times_two, seq))

[2, 4, 6, 8, 10]

In [13]:
list(map(lambda x: x*2, seq))

[2, 4, 6, 8, 10]

In [14]:
def is_even(num):
    return num % 2 == 0

In [15]:
list(filter(is_even, seq))

[2, 4]

In [16]:
list(filter(lambda num:num % 2 == 0, seq))

[2, 4]

In [17]:
# Methods

In [18]:
st = "Hello my name is Nath"

In [19]:
st.lower()

'hello my name is nath'

In [20]:
st.upper()

'HELLO MY NAME IS NATH'

In [21]:
st.capitalize()

'Hello my name is nath'

In [22]:
tweet = 'Go Sports! #cool'

In [23]:
tweet.split()

['Go', 'Sports!', '#cool']

In [24]:
tweet.split('#')

['Go Sports! ', 'cool']

In [25]:
my_list = [1, 2, 3, 4]
my_list.pop()

4

In [26]:
my_list.pop(0)

1

In [27]:
my_list

[2, 3]

In [28]:
1 in my_list

False

In [29]:
2 in my_list

True

In [30]:
'a' in [1, 2, 'a']

True