In [1]:
# Comparison Operators

In [2]:
1 < 2

True

In [3]:
1 > 2

False

In [4]:
1 <= 2

True

In [5]:
1 >= 3

False

In [6]:
1 == 1

True

In [7]:
1 != 1

False

In [8]:
'string' == 'string'

True

In [9]:
1 == '1'

False

In [10]:
# Logical Operators

In [11]:
(1 == 2) and (1 == 1)

False

In [12]:
(1 == 2) or (1 == 1)

True

In [13]:
(1 == 2) and not (1 == 1)

False

In [14]:
if True:
    print("Hello")

Hello

In [15]:
if False:
    print("Hello")

In [16]:
if (1==2):
    print('hello')
else:
    print('if statement was not true')

if statement was not true

In [17]:
if (1==1):
    print('hello')
else:
    print('if statement was not true')

hello

In [18]:
if (1==2):
    print('hello')
elif (2 == 2):
    print('two')
else:
    print('if statement was not true')

two

In [19]:
# For loops

In [20]:
seq = [1, 2, 3, 4, 5]

In [21]:
for item in seq:
    print("Hello")

Hello
Hello
Hello
Hello
Hello

In [22]:
for item in seq:
    print(item)

1
2
3
4
5

In [23]:
for item in seq:
    print(item ** 2)

1
4
9
16
25

In [24]:
# While loops

In [25]:
i = 1
while (i < 5):
    print('i is currently {}'.format(i))
    i = i + 1

i is currently 1
i is currently 2
i is currently 3
i is currently 4

In [26]:
range(5)

range(0, 5)

In [27]:
for item in range(5):
    print(item)

0
1
2
3
4

In [28]:
for item in range(1, 5, 2):
    print(item)

1
3

In [29]:
list(range(1, 11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [30]:
# List Comprehension

In [31]:
x = [1, 2, 3, 4]

In [32]:
out = []
for num in x:
    out.append(num ** 2)

In [33]:
out

[1, 4, 9, 16]

In [34]:
[num ** 2 for num in x]

[1, 4, 9, 16]